#search-input, #search-button, #search-history button{
    width: 100%;
}

#current-forecast {
    height: 150px;
    padding: 20px;
}

.future {
    width: 18%;
    height: 200px;
}

hr {
    border-top: 1px solid lightgray;
}